*{
    box-sizing: border-box;
}

body{
    margin: 0;
}


.header {
    height: 600px;
    width: 100%;
    background-image: url(../obrazy/man-1.jpg);
    background-size: cover;
    background-position: center;

}

.header .inner-header {
    color: #fff;
    text-transform: uppercase;
    font-family: Verdana, Geneva, sans-serif;
    padding-top:50%;
    padding-left: 10px;
    transform: translateY(-50%);
}

h2{
    margin-top: 0;
}

h1{
    margin-bottom: 0;
}